.Carousel-DefaultHomePage {
  width: 100%;
  height: 100%;
}

.DefaultHomePage-Carousel {
  width: 100%;
  height: 100%;
}

.DefaultHomePage-Carousel-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Carousel-content {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.Carousel-content-right {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  margin: 0 auto;
}

.chilren-right-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all content horizontally */
}

.title {
  text-align: center; /* Center the title text horizontally */
  font-size: 24px; /* Optional: Adjust font size as needed */
  margin-bottom: 10px; /* Optional: Add space between title and description */
  font-size: 30px !important;
  font-weight: bold;
  color: #ff3300;
}

.Carousel-content-right div {
  font-size: 16px;
  margin-bottom: 10px;
  color: #ff3300;
}

.QRCode {
  margin-top: 20px;
  border: 1px solid #000;
}
